<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <p>
    <%= f.label :body, "Your Comment" %><BR>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>