<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <% if comment.author.avatar.attached? %>
        <img src="<%= (url_for(comment.author.avatar)) %>">
      <% else %>
        <img src="https://bulma.io/images/placeholders/128x128.png">
      <% end %>
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <strong><%= comment.author.name %></strong><BR>
      <p>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</p>
      <p><%= comment.body %></p>
    </div>
  </div>
</article>